/*----------------------Variables-----------------------------*/


/*Colors*/

html {
    --raisin-black: #27292bff;
    --opal: #92b9bdff;
    --jasmine: #f2d77dff;
    --fire-opal: #ef6351ff;
    --salmon: #f38375ff;
}


/*----------------------Elements-----------------------------*/

body {
    background-color: var(--raisin-black);
    overflow-x: hidden;
}

h4 {
    font-family: 'Robto', sans-serif;
    font-weight: 300;
    font-size: 45px;
    margin: 0%;
    float: left;
}

ul {
    padding: 0%;
}

a,
a:visited,
a:hover,
a:active {
    color: inherit;
}

footer {
    top: 20px;
}


/*----------------------Classes-----------------------------*/

.header,
.contact,
.history,
.projects {
    background-color: #3B3C36;
    color: white;
    border-radius: 25px;
    padding: 15px;
    margin-top: 25%;
    margin-bottom: 25%;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
    animation-name: fadein_anim;
    animation-duration: 1s;
    animation-delay: 4s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    opacity: 0;
}

.header {
    grid-column: 2/12;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.header-list {
    display: flex;
    justify-content: center;
}

.header-list ul li {
    display: inline-block;
    list-style-type: none;
    margin-right: -4px;
    padding-right: 30px;
    padding-left: 30px;
    border-right: 1px solid white;
    border-left: 1px solid white;
    font-size: 32px;
    color: white;
}

.header-list ul li a:hover {
    color: rgb(121, 121, 121);
    transition: ease-in-out;
    -webkit-transition: color 0.2s ease-out;
    -moz-transition: color 0.2s ease-out;
    -o-transition: color 0.2s ease-out;
    transition: color 0.2s ease-out;
}

.header-list ul li a {
    text-decoration: none;
}

.history {
    grid-column: 2/12;
    display: flex;
    flex-direction: column;
}

.history h3 {
    font-family: 'Robto', sans-serif;
    justify-self: center;
    align-self: center;
}

.history p {
    font-family: 'IBM Plex Sans', sans-serif;
}

.history div {
    border-bottom: #27292bff 1px solid;
}

.projects {
    grid-column: 4/10;
    grid-row: 10/11;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 3px;
}

.projects h4 {
    align-self: center;
    justify-self: center;
}

.project {
    grid-row: 1;
    padding: 5px;
    margin: 2px;
    border-bottom: #27292bff 1px solid;
}

.contact {
    grid-column: 6/8;
    grid-row: 15;
    bottom: 50px;
}

.container {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(20, 1fr);
    justify-content: center;
    margin: 0%;
    width: 100%;
    top: 20px;
    bottom: 40px;
}

.splash p {
    font-size: 36px;
    font-family: 'IBM Plex Sans', sans-serif;
    margin-bottom: 5%;
    margin-top: 5%;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    color: var(--jasmine);
    grid-column: 3;
}

.hey {
    animation-name: splash_text_anim;
    animation-duration: 1.5s;
}

.myname {
    opacity: 0;
    animation-name: splash_text_anim;
    animation-duration: 1.5s;
    animation-delay: 1.5s;
}

.splash {
    animation-name: fade_anim;
    animation-duration: 1s;
    animation-delay: 4s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/*----------------------Desktop view----------------------------*/

@media only screen and (min-width: 1230px) {
    .header,
    .contact,
    .history {
        padding: 15px;
        margin-bottom: 0%;
    }
    .header {
        grid-column: 5/9;
        font-size: large;
    }
    .header-list ul li {
        display: inline-block;
        list-style-type: none;
        margin-right: -4px;
        padding-right: 40px;
        padding-left: 40px;
        font-size: 48px;
        color: white;
    }
    .history {
        grid-column: 2/12;
        grid-row: 8;
    }
    .projects {
        grid-row: 10;
    }
    .contact {
        grid-column: 6/8;
        grid-row: 15;
        bottom: 50px;
    }
    .container {
        position: absolute;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(20, 1fr);
        justify-content: center;
        margin: 0%;
        width: 100%;
        top: 20px;
        bottom: 40px;
    }
    .splash p {
        font-size: 72px;
    }
}


/*----------------------Animations-----------------------------*/

@keyframes splash_text_anim {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade_anim {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadein_anim {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/*-----------3d------------*/

canvas {
    position: fixed;
    top: 0px;
    left: 0px;
    animation-name: fadein_anim;
    animation-duration: 2s;
    animation-delay: 4s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    opacity: 0;
}