/*-------------Variables-------------*/

html {
    --jet: #2d2d2a;
    --blackolive: #353831;
    --kombugreen: #38423b;
    --darkslategray: #3f5e5a;
    --springgreen: #20fc8f;
}


/**-------------Elements-------------**/

body {
    background: rgb(32, 252, 143);
    background: linear-gradient(240deg, rgba(32, 252, 143, 1) 0%, rgba(134, 253, 194, 1) 100%);
    color: var(--blackolive);
    margin: 0;
    padding: 0;
}


/**-------------Ids-------------**/


/**-------------Classes-------------**/

.card {
    margin-left: 15px;
    margin-right: 15px;
    width: 33%;
    height: 100px;
}


/**-------------Desktop View-------------**/

@media only screen and (min-width: 1230px) {
    body {
        margin: 0;
    }
    /*Navbar*/
    nav {
        background: whitesmoke;
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 24px;
        font-weight: 600;
        max-width: 100%;
        height: 32px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1%;
        overflow: hidden;
    }
    nav p {
        justify-content: left;
        align-content: center;
    }
    .container {
        width: 100%;
        height: 100%;
        margin: 0;
        display: flex;
        justify-content: center;
        align-content: center;
    }
    #main-page {
        width: 100%;
        height: 100%;
        margin-left: 8%;
        display: inline-grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 0px 30px;
        justify-content: center;
    }
    .bio {
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .about {
        grid-column-start: 2;
        grid-column-end: 3;
    }
    .projects {
        grid-column-start: 3;
        grid-column-end: 4;
    }
    .card {
        margin: 1%;
        overflow: hidden;
        background-color: whitesmoke;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Roboto', sans-serif;
        width: 75%;
        height: 75%;
        border-radius: 5px;
    }
}